name: CI

on:
  push:
    branches:
      - master
      - 'release/**'
  pull_request:
    branches:
      - master
      - 'release/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'

      - name: Build
        run: mvn -B clean verify

      - name: Deploy Report to External GitHub Pages
        uses: PavanMudigonda/html-reporter-github-pages@v1.5
        with:
          test_results: target/site/jacoco
          keep_reports: 1
          gh_pages: master # BRANCH NAME
          subfolder: ${{ github.repository }}  # Level 1 Folder Structure
          tool_name: code-coverage # Level 2 Folder Structure
          workflow_name: ${{ github.workflow }} # Level 3 Folder Structure
          env: ${{ github.ref }} # Level 4 Folder Structure
          external_repository: m-whitaker/html-reports-site
          use_actions_summary: false # Control job summary output
          token: ${{ secrets.HTML_REPORTS_REPO_PAT }} # REQUIRED: PAT with repo permissions for external repository
